
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<div class="container">
    <div class="col-lg-12">
        <!-- Contact Form -->
        <div class="contact-form parsley-validate-wrap mt-60" data-animate="fadeInUp" data-delay=".4">
            <h1 class="" style="text-align: center">Account Recovery</h1>
            <hr />
            <div class="form-response"></div>
            <form method="post" action="@Url.Action("ForgotPassword","Registration")">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-field">
                            <input type="text" name="email" class="theme-input-style" placeholder="Enter Email" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" id="submitBtn" class="btn btn-block">Verify</button>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <div class="row">
                            <div class="text-success">
                                @ViewBag.Message
                            </div>
                        </div>
                    }                    
                </div>
                
            </form>
        </div>
        <!-- End of Contact Form -->
    </div>
</div>
<br />