@model AlphasoftWebsite.Core.Model.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@if (ViewBag.Message != null)
{
    <div class="text-danger">
        @ViewBag.Message
    </div>
}
else
{
    <div class="container">
        <div class="col-lg-12">
            <!-- Contact Form -->
            <div class="contact-form parsley-validate-wrap mt-60" data-animate="fadeInUp" data-delay=".4">
                <h1 class="" style="text-align: center">Reset Password</h1>
                <hr />
                <div class="form-response"></div>
                <form method="post" action="@Url.Action("ResetPassword","Registration")">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-field">
                                <input type="password" id="password" name="Password" class="theme-input-style" placeholder="Password" required onchange="validation()">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-field">
                                <input type="password" id="confirmPass" name="ConfirmPassword" class="theme-input-style" placeholder="Confirm Password" onchange="CheckPassword()">
                                <input type="hidden" class="form-control" name="ResetCode" /> 
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="submitBtn" class="btn">Reset</button>
                </form>
            </div>
            <!-- End of Contact Form -->
        </div>
    </div>
    <br />
}

@section Scripts
{
    <script>

        function CheckPassword() {
            var password = $('#password').val();
            var confirmPassword = $('#confirmPass').val();
            if (confirmPassword != "") {
                if (password != confirmPassword) {
                    $('#submitBtn').attr("disabled");
                    alert("Password doesn't match !!");
                } else if (confirmPassword.length < 8) {
                    $('#submitBtn').attr("disabled");
                    alert("Password must be at least 8 characters !!");
                } else {
                    $('#submitBtn').removeAttr("disabled");
                }
            }
        }


        function validation() {
            $("#password").each(function () {
                var validated = true;
                if (this.value.length < 8)
                    validated = false;
                if (!/\d/.test(this.value))
                    validated = false;
                if (!/[a-z]/.test(this.value))
                    validated = false;
                if (!/[A-Z]/.test(this.value))
                    validated = false;
                if (/[^0-9a-zA-Z]/.test(this.value))
                    validated = false;
                if (validated) {
                    return true;
                } else {
                    alert("Use Atleast 1 upper and lower and numeric value and 8 character !");
                    $("#password").val('');
                }
                // use DOM traversal to select the correct div for this input above
            });
        };
    </script>
}